@model ClientApp.Models.Client

@{
    ViewBag.Title = "Show Users";
}

@*<div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    

    @section scripts
    {
        <script type="text/javascript">

            $(function () {
                $.ajaxSetup({ cache: false });
                $(".createClient").click(function (e) {

                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
        </script>
    }*@


@using (Html.BeginForm("Create", "Clients", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Client</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Show" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
